
body{
    margin: 0;
}
/*------------------------------------------------start of header------------------------------------*/
header {
    height: 70vh;
    background-image: url("img/Ihor-img/coffe.png");
    background-position: center;
    background-size: cover;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
nav>a {
    margin: 20px 0 0 40px;
    text-decoration: none;

}
.nav-img {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #FF4B32;
    font-family: "Josefin Sans", sans-serif;;
    font-style: normal;
    font-weight: 700;
}

nav>a:nth-child(2) {
    color: #FF4B32;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}
nav>a {
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.header-div {
    height: 75%;
    margin-left: 145px;
    width: 524px;
    color: #FFFFFF;
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*align-items: center;*/
}
.header-div>h1 {
    font-size: 58px;
    font-family: "Josefin Sans", sans-serif;;
    font-style: normal;
    font-weight: 500;

}
.header-div>p {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.header-div>button {
    margin-top: 20px;
    color: #FFFFFF;
    padding: 16px 35px;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    background-color: #FF4B32;
    border: none;
    border-radius: 5px;
}
/*------------------------------------------------end of header------------------------------------*/
section{
    height: 100vh;
    width: 100%;
}


/*start of styles for section-1*/

.title, .price-card, .name-card {
    font-family: "Josefin Sans", sans-serif;;
    font-style: normal;
    color: black;
}
.title{
    height: 7.7vh;
    width: 41vw;
    font-size: 43px;
    font-weight: 600;
    line-height: 130%; /* 55.9px */
    letter-spacing: 6.45px;
    margin-top: 140px;
    margin-left: 145px;
}
.text, .description-card{
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-top: 20px;
    margin-left: 145px;
}
.text{
    height: 8vh;
    width: 35vw;
    font-size: 18px;
}
.cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
}
#card1{
    margin-left: 145px;
}
#img-card3{
    padding-bottom: 14px;
}
.price-card{
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;  /* 36px */
    margin-top: 35px;
}
.name-card{
    font-size: 32px;
    font-weight: 600;
    line-height: 130%; /* 41.6px */
    margin-top: 10px;
}
.description-card{
    font-size: 16px;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
    margin:  15px 0 0 0;
}

/*end of styles for section-1*/

/*----------------------------------------------------section-3-----------------------------------------------------*/


.section-3 {
    color: #FFFFFF;
    height: 65vh;
    background-image: url("img/Ihor-img/Follow-us-1.png");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-3>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 620px;
}
.section-3>div>p {
    margin-bottom: 65px;
    color: #FF4B32;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
}

.section-3>div>h1 {
    margin: 0;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 43px;
    font-style: normal;
    font-weight: 600;
}
.number, .email {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}
.number {
    margin-top: 60px;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*font-family: "Open Sans", sans-serif;*/
    /*font-size: 24px;*/
    /*font-style: normal;*/
    /*font-weight: 400;*/
}
.number>img, .email>img  {
    margin-right: 15px;
}
.number>p {
    margin: 0;
}
/*.email {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    font-family: "Open Sans", sans-serif;*/
/*    font-size: 24px;*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*}*/

.section-3-link>img {
    margin: 5px 20px;
}






/*----------------------------------------------------end-section-3--------------------------------------------------*/





